.animate-charcter{
	text-transform: uppercase;
   background-image: linear-gradient(
	 -225deg,
	 #d53606 0%,
	 #ff7800 29%,
	 #ffa500 67%,
	 #f6f6f6 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 5s linear infinite;
	   font-size: 190px;
 }
 
 @keyframes textclip {
   to {
	 background-position: 200% center;
   }
 }
 


 .wrap {
	display: flex;
	position: relative;
	height: 100vh;
  }
  
  .left,
  .right {
	position: relative;
	width: 50%;
  }
  
  .chouchin {
	position: absolute;
	top: -10px;
  }
  .chouchin .floting-icon {
	transform-origin: top center;
	animation: swing ease-in-out 2s infinite alternate;
  }
  .chouchin.layer1 {
	width: 50px;
	z-index: 10;
 
  }
  .chouchin.layer1 .floting-icon{
	background: orange;
  }
  .chouchin.layer2 .floting-icon{
	background: rgb(230, 54, 0);
  }
  .chouchin.layer2 {
	width: 150px;
	/* filter: blur(2px); */
	z-index: 5;
	opacity: 0.9;
  }
  .chouchin.layer3 {
	width: 100px;
	filter: blur(4px);
	z-index: 1;
	opacity: 0.8;
  }
  
  .chouchin1 {
	left: 5%;
  top:-100px;
	z-index: 5;
  }
  
  .chouchin2 {
	left: 50%;
    top:200px;
  }
  .chouchin2 .floting-icon {
	animation-duration: 3s;
	animation-direction: alternate-reverse;
  }
  
  .chouchin3 {
	left: 70%;
  }
  .chouchin3 .floting-icon {
	animation-duration: 3.5s;
  }
  
  .chouchin4 {
	right: 25%;
    top:-50px;
  }
  .chouchin4 .floting-icon {
	animation-duration: 2.5s;
	animation-direction: alternate-reverse;
  }
  
  .chouchin5 {
	right: 40%;
  top: 100px;
  }
  .chouchin5 .floting-icon {
	animation-duration: 3.2s;
  }
  
  .chouchin6 {
	right: 70%;
  }
  .chouchin6 .floting-icon {
	animation-duration: 3.8s;
	animation-direction: alternate-reverse;
  }
  
  .floting-icon {
	width: 100%;
	height: auto;
  }
  
  @keyframes swing {
	0% {
	  transform: rotate(28deg);
	}
	100% {
	  transform: rotate(-28deg);
	}
  }
  .credit {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 20px;
	color: #F8DF8B;
	text-align: center;
  }
  .credit a {
	color: currentColor;
  } 

.wrap{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floting-icon{
	width: 40px;
	height: 40px;
	border-radius: 50px;

}


.videoplay{
  border-radius: 50%;
  text-align: center;
  line-height: 108px;
  animation: animate 2s linear infinite;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: #ff7800;
    position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  z-index: 2;
}
.videoplay:hover svg{
  color: white;
}

@keyframes animate {
  0% {
      box-shadow: 0 0 0 0 #ff7800;
  }
  40% {
      box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
  }
  80% {
      box-shadow: 0 0 0 50px rgba(255, 193, 7, 0);
  }
  100% {
      box-shadow: 0 0 0 rgba(255, 193, 7, 0);
  }
}


.about-media{
  position: relative
}
.media-overlay{
  content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
  background: linear-gradient(to right,rgba(110, 110, 110, 0.452) 0%,rgba(255, 102, 0, 0.431) 100%);
  z-index: 1;
}

.read-more-btn{
  border: 2px solid #ff7800;
  padding: .5rem 1rem .5rem 1rem;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  font-family: sans-serif;
  transition: all .5s;
  }

.read-more-btn:before{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  0%;
    left: 0%;
    background: #ff7800;
    transition: all .5s;
    z-index: -1;
    
  }
.read-more-btn:after{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  0%;
    left: 0%;
    background: #ff7800;
    transition: all .5s;
    z-index: -1;
    
}
.read-more-btn:hover{
  color: #ff7800;
}
.read-more-btn:hover:before{			
    transform: rotateX(90deg);

}
.read-more-btn:hover:after{
    transform: rotateY(90deg);

}
.project-items li{
  border: 2px solid #ff7800;
  padding: .1rem 2rem .2rem 2rem;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.1;
  font-family: sans-serif;
  transition: all .5s;
  margin-left: 20px;
  }

.project-items li:before{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  0%;
    left: 0%;
    background: #ff7800;
    transition: all .5s;
    z-index: -1;
    
  }
.project-items li:after{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  0%;
    left: 0%;
    background: #ff7800;
    transition: all .5s;
    z-index: -1;
    
}
.project-items li:hover{
  color: #ff7800;
}
.project-items li:hover:before{			
    transform: rotateX(90deg);

}
.project-items li:hover:after{
  transform: rotateY(90deg);
}
.team-overlay{
  position: absolute;
  top:0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,rgba(0, 0, 0, 0.219) 0%,rgba(212, 87, 3, 0.678) 100%);;
  opacity: .5;
  z-index: -1;
}

